/*** STYLES ***/
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

input{
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size:1em;
}

.loader {
  text-align: center;
}

/* Login */
.login-body{
  width:100vw;
  min-height:110vh;
  padding:0 34vw;
  box-sizing: border-box; 
  background: linear-gradient(to bottom right, #723EE0, #3E92CC); 
  display:flex;
  justify-content: center;
}

.notfound-body {
  width:100vw;
  min-height:110vh;
  padding:0 34vw;
  box-sizing: border-box; 
  background: linear-gradient(to bottom right, #723EE0, #3E92CC); 
  display:flex;
  justify-content: center;
}

.login-content{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notfound-content {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content h1{
  color: white;
  font-weight:bold;
  padding: 2rem 0;
  font-size: 3em;
}

.notfound-content h1{
  color: white;
  font-weight:bold;
  padding: 2rem 0;
  font-size: 3em;
}

.login-card{
  width:100%;
  background-color:#FDFDFD;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display:flex;
  justify-content: center;
  align-items:center;
  box-sizing: border-box;
  margin-bottom:1rem;
}

.notfound-card{
  width:100%;
  background-color:#FDFDFD;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  box-sizing: border-box;
  margin-bottom:1rem;
  padding: 2rem;
  font-weight: 400;
}

.notfound-illustration {
  padding: 2rem;
  display: block;
  width: 300px;
}

.login-form{
  width:100%;
  padding:3.5rem;
}
.login-form h2 {
  font-weight:600;
  padding-bottom:2rem;
  margin:0;
  text-align:center;
}

.login-form label {
  display:block;
  text-align:left;

}
.login-content a {
  padding-left:.25rem;
  float:right;
  color:#3E92CC;
}

.login-content input[type="email"], .login-content input[type="password"] {
  width:100%;
  height:3em;
  border-radius:10px;
  border:1px solid #E0E0E0;
  margin-top:.5rem;
  margin-bottom:2rem;
  padding: 1.25rem 1rem;
  box-sizing:border-box;
  font-size:1em;
}

.login-content input[type="email"]::placeholder, input[type="password"]::placeholder {
  color: #9E9E9E;
  font-size:16px;
}

.error-list {
  display: inline;
  list-style-type: none;
  padding: none;
}

.error-list > .error-list-item {
  font-size: 14px;
  color: red;
  width: 100%;
  text-align: left;
}

.error-text {
  display: block;
  padding: 5px;
  margin-top: 8px;
  font-size: 14px;
  color: red;
  width: 100%;
  text-align: left;
}

.login-content input[type="submit"] {
  width:100%;
  background-color:#3E92CC;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
  color:white;
  height:3em;
  font-size:16px;
  font-weight: 700;
  transition: background-color .1s ease-in-out;
  cursor:pointer;
  border-radius:10px;
}
.login-content input[type="submit"]:hover{
  background-color: #4487CF;
}
.signup-card{
  padding:.5rem;
}

/* Dashboard */ 
.files-body{
  width:100vw;
  padding:3rem 10vw;
  box-sizing: border-box;
}

.header{
  display:flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header a {
  text-decoration: none;
}
.logo {
  background: -webkit-linear-gradient(right, #723EE0, #3E92CC);
  background-clip:text;
  font-weight: 700;
  font-size:36px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav{
  height:42px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display:flex;
  border-radius:5px;
  z-index:0;
}
.nav-link{
  color:white;
}

.create-doc{
  background-color:#723EE0;
  border-radius:5px 0 0 5px;
  color:white;
  font-weight:bold;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:50%;
}
.create-doc p{
  font-size:14px;

}

.user-dropdown-wrapper{
  box-sizing: border-box;
  flex:1;
  position: relative;
}
.user-dropdown{
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor:pointer;
  max-height:100%;
  padding:1rem;
}

.user-dropdown p {
  color:#723EE0;
  width:128px;
  padding-left:1rem;
  display: block;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  display:none;
  position:absolute;
  background-color: #FFFFFF;
  top:100%;
  transition:.1s ease-in-out background-color;
  min-width:128px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  z-index: 0;
  padding:1rem;
  border-radius:0 0 5px 5px;
  right:0;
}
.menu:hover {
  background-color:#ECEFF1;
}
.menu a {
  padding:1rem 0;
  color:black;
  font-weight:300;
  text-decoration: none;
}

.user-dropdown-wrapper:hover .menu {
  display:block;
}
.user-dropdown-wrapper:hover p {
  text-decoration:underline;
}


.files-content{
  margin-top:6rem;
}
.files-content h2{
  font-weight:400;
  font-size:32px;
  margin-bottom: .5rem;
}
.files-control{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.files-control input[type="search"] {
  padding:0 .5rem;
  border:1px solid #E0E0E0;
  width:324px;
  height:36px;
  border-radius:2px;
  font-size:1em;
}

.files-control input[type="search"]::placeholder{
  font-size:16px;
  color:grey;
  font-weight: 300;
}

.files-control-left{
  display:flex;
  margin:1rem 0;
}

.files-control-left button {
  height:36px;
  width:200px;
  border:1px solid #723EE0;
  background-color:#723EE0;
  border-radius:2px;
  color:white;
  margin:0;
  padding:0;
  margin-left:1rem;
  font-size:1em;
  font-weight:600;
  cursor:pointer;
}

.files-content table{
  width:100%;
  border:1px solid #E0E0E0;
  border-collapse: collapse;
  border-spacing: 0;

}

.lightgrey-border{
  border:1px solid #E0E0E0
}

.files-content table td {
  padding:1rem 2rem;
  width:50%;
  box-sizing: border-box;
}

.files-plus{
  font-size:24px;
}
.file-metadata{
  display:flex;
  flex-direction: column;
  font-weight:200;
  justify-content: center;
}

.file-metadata p {
  padding: 5px;
  margin: 0;
}

.file-metadata-descriptor {
  font-size: 14px;
  color: #757575;
}

.file-title{
  font-weight:500;
  width: max-content;
}
.file-title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.files-content table td {
  border-bottom:1px solid #e0e0e0;
}

.files-content table tr:last-child td { 
  border-bottom: none; 
}
.files-content table tr {
  border-left:1px solid #E0E0E0
}
.files-content table tr:hover{
  border-left:2px solid #723EE0;
}

.files-no-files{
  width:100%;
  height:25em;
}
.files-no-files p{
  font-size:1.5em;
  color:grey;
  font-weight:300;
  font-style:italic;
  padding-top:1rem;
}

.files-content textarea{
  height:25em;
  padding:.33rem;
  margin-top:4px;
  border: 1px solid #E0E0E0;
  width:66%;
  font-size:1em;
}

.files-content input[type="text"]{
  width:364px;
  height:24px;
  margin-top:4px;
  font-size:1em;
  padding:.33rem;
}
.files-content input[type="text"]::placeholder {
  font-size: 16px;
  color:#757575;
}

.files-content input[type="submit"] {
  width:128px;
  color:#723EE0;
  border:1px solid #723EE0;
  height:36px;
  margin-top:2rem;
  font-size:16px;
}
.files-content input[type="submit"]:hover {
  background-color: #723EE0;
  color:white;
  cursor: pointer;
}
.files-content label {
  color:#757575;
  font-size: 14px;
  font-weight:400;
  margin-top:4rem;
}

.file-dot-menu-wrap {
  box-sizing:border-box;
  width:2rem;
}
.file-dots:hover div{
  display:block;
}


.file-menu{
  display:none;
  position:absolute;
  background-color: #FFFFFF;
  right:12vw;
  min-width:100px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  z-index: 0;
  padding:.5rem;
  border-radius:0 0 5px 5px;
}
.file-menu:hover{
  background-color: #EEEEEE;
  cursor:pointer;
}
.file-menu p{
  color:black;
  font-weight:300;
  padding:0;
  margin:0;
}


.create-form div {
  margin-top:1rem;
}

.reader-controls, .reader-annotations {
  padding:2rem;
}
.reader-annotations {
  padding-right:4rem;
}
.reader-body{
  display:flex;
  width:100vw;
  padding:3rem 0;
  padding-bottom:0;
  min-height:100vh;
  box-sizing: border-box;
  transition:background-color .2s ease-in-out;
}


span.highlight {
  background-color: #fff2ac;
}

.reader-main{
  width:50%;
  white-space: pre-line;
}
.reader-controls{
  position: sticky;
  align-self: flex-start;
  top:0;
  box-sizing: border-box;
}
.reader-control-wrap{
  padding: 1rem;
  box-sizing: border-box;
  width:100%;
}
.reader-highlight-box{
  width:64px;
  cursor:pointer;
  height:36px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.reader-controls, .reader-annotations{
  flex:1;
}
.reader-panel-close-box{
  width:100%;
  display:flex;
  justify-content: space-between;
  text-align: right;
  margin-bottom:1rem;
}
.reader-panel-close{
  color:#9E9E9E;
}


.reader-select {
  background-color:blue;
}

.reader-body p {
  line-height:2;
}
.reader-body h1 {
  font-family:'Helvetica'
}
.reader-prefs{ 
  margin:1rem 0;
  padding:1rem 1rem;
  border:1px solid #e0e0e0;
  box-sizing: border-box;
  position:absolute;
  width:74%;
}

.reader-options-icon{
  float:right;
  width:32px;
  height:32px;
  margin-top:1rem;
}
.reader-options-icon:hover{
  opacity:.7;
  cursor:pointer;
}
.reader-toggles{
  display:flex;
  justify-content: flex-end;
}

.reader-colors-wrap{
  margin:1rem 0;
}
.reader-colors-wrap *{
  box-shadow: none !important;
}

.reader-prefs p{
  font-weight:500;
  margin-bottom:.75rem;
}

.reader-banner{
  width:100vw;
  box-sizing: border-box;
  height:3em;
  background-color: #723EE0;
  margin:0;
  display: flex;
  align-items: center;
  padding:0 4rem;
  justify-content: space-between;
}
.reader-banner h1{
  font-size:1.5em;
  color:white;
  margin:0;
  padding:0;
  font-weight:600;
  cursor:pointer;
}

.reader-banner h2{
  font-size:1em;
  color:white;
  font-weight:300;
}

.reader-dropdown-menu {
  display:none;
  position:absolute;
  background-color: #FAFAFA;
  right:4rem;
  min-width:128px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  z-index: 0;
  padding:1rem;
  border-radius:0 0 5px 5px;
}
.reader-dropdown-menu a {
  padding:1rem 0;
  color:#723EE0;
  text-decoration: none;
}

.reader-user-dropdown-wrap:hover .reader-dropdown-menu{
  display:block;
}
.reader-annotations p{
  margin:0;
  font-size:.75em;
  font-weight:600;
  margin-bottom:.5rem;
}
.annotation-wrap{
  border:1px solid #e0e0e0;
  padding:1rem;
  box-sizing: border-box;
  width:100%;
  margin:.5rem 0;
  position:relative;
}

.annotation-wrap p{
  font-size: 0.75em;
  margin:0;
  line-height:1.5;
  font-weight:400;
}

.annotation-submit{
  width:100%;
  border:1px solid #b89eef;
  color:#723EE0;
  padding:.5rem 0;
  margin-top:.5rem;
  font-size:.75em; 
}

.annotation-submit:hover{
  background-color: #f7f5fd;
}

.annotation-close {
  position:absolute;
  right:1rem;
}

.compact-picker{
  width:100% !important;
}

/* *MEDIA QUERIES (leave at bottom)*
@media screen and (max-device-width: 480px) and (orientation: portrait){
  .files-body{
    max-width:100%;
    padding:1rem;
  }
  .header{
    flex-direction: column;
  }
  .logo{font-size:2em}
  .files-body h2{
    font-size:1.5em;
  }
  .files-body input[type=text]{
    width:40%;
  }

  .files-control, .files-control-left {
    flex-direction: column;
  }
} */