/*** STYLES ***/

/* Login */
.login-body{
  width:100vw;
  min-height:110vh;
  padding:0 34vw;
  box-sizing: border-box; 
  background: linear-gradient(to bottom right, #723EE0, #3E92CC); 
  display:flex;
  justify-content: center;
}

.login-content{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content h1{
  color: white;
  font-weight:bold;
  padding: 2rem 0;
  font-size: 3em;
}

.login-card{
  width:100%;
  background-color:#FDFDFD;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display:flex;
  justify-content: center;
  align-items:center;
  box-sizing: border-box;
  margin-bottom:1rem;
}
.login-form{
  width:100%;
  padding:3.5rem;
}
.login-form h2 {
  font-weight:600;
  padding-bottom:2rem;
  margin:0;
  text-align:center;
}

.login-form label {
  display:block;
  text-align:left;

}
.login-content a {
  padding-left:.25rem;
  float:right;
  color:#3E92CC;
}
.login-content input[type="email"], .login-content input[type="password"] {
  width:100%;
  height:3em;
  border-radius:10px;
  border:1px solid #E0E0E0;
  margin-top:.5rem;
  margin-bottom:2rem;
  padding: 1.25rem 1rem;
  box-sizing:border-box;
}

.login-content input[type="email"]::placeholder, input[type="password"]::placeholder {
  color: #9E9E9E;
  font-size:16px;
}

.error-list {
  display: inline;
  list-style-type: none;
  padding: none;
}

.error-list > .error-list-item {
  font-size: 14px;
  color: red;
  width: 100%;
  text-align: left;
}

.error-text {
  display: block;
  padding: 5px;
  margin-top: 8px;
  font-size: 14px;
  color: red;
  width: 100%;
  text-align: left;
}

.login-content input[type="submit"] {
  width:100%;
  background-color:#3E92CC;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
  color:white;
  height:3em;
  font-size:16px;
  font-weight: 700;
  transition: background-color .1s ease-in-out;
  cursor:pointer;
  border-radius:10px;
}
.login-content input[type="submit"]:hover{
  background-color: #4487CF;
}
.signup-card{
  padding:.5rem;
}

/* Dashboard */ 
.files-body{
  width:100vw;
  padding:2rem 10vw;
  box-sizing: border-box;
}

.header{
  display:flex;
  justify-content: space-between;
  widows: 100%;
  align-items: center;
}
.header a {
  text-decoration: none;
}
.logo {
  background: -webkit-linear-gradient(right, #723EE0, #3E92CC);
  background-clip:text;
  font-weight: 700;
  font-size:36px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav{
  width:400px;
  height:42px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display:flex;
  border-radius:5px;
  z-index:0;
}
.nav-link{
  color:white;
}

.create-doc{
  background-color:#723EE0;
  border-radius:5px 0 0 5px;
  color:white;
  font-weight:bold;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:50%;
}
.create-doc p{
  font-size:14px;

}

.user-dropdown-wrapper{
  box-sizing: border-box;
  flex:1;
}
.user-dropdown{
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor:pointer;
  max-height:100%;
  padding:1rem;
}

.user-dropdown p {
  color:#723EE0;
  width:128px;
  padding-left:1rem;
  display: block;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  display:none;
  position:absolute;
  background-color: #FAFAFA;
  right:10vw;
  min-width:128px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  z-index: 0;
  padding:1rem;
  border-radius:0 0 5px 5px;
}
.menu a {
  padding:1rem 0;
  color:#723EE0;
  text-decoration: none;
}
.user-dropdown-wrapper:hover .menu {
  display:block;
}
.user-dropdown-wrapper:hover p {
  text-decoration:underline;
}


.files-content{
  margin-top:6rem;
}
.files-content h2{
  font-weight:400;
  font-size:32px;
  margin-bottom: .5rem;
}
.files-control{
  display:flex;
}
.files-control input[type="search"] {
  margin:1rem 0;
  padding:0 .5rem;
  border:1px solid #E0E0E0;
  width:364px;
  height:36px;
}

.files-control input[type="search"]::placeholder{
  font-size:16px;
  color:grey;
  font-weight: 300;
}

.files-content table{
  width:100%;
  border:1px solid #E0E0E0;
  border-collapse: collapse;
  border-spacing: 0;

}

.lightgrey-border{
  border:1px solid #E0E0E0
}

.files-content table td {
  padding:1rem 2rem;
  width:50%;
  box-sizing: border-box;
}
.file-metadata{
  display:flex;
}

.files-content table td {
  border-bottom:1px solid #e0e0e0;
}

.files-content table tr:last-child td { 
  border-bottom: none; 
}
.files-content table tr {
  border-left:1px solid #E0E0E0
}
.files-content table tr:hover{
  border-left:2px solid #723EE0;
  cursor: pointer;
}

.files-no-files{
  width:100%;
  height:25em;

}

.files-content textarea{
  height:25em;
  padding:.33rem;
  margin-top:4px;
  border: 1px solid #E0E0E0;
  width:66%;
}

.files-content input[type="text"]{
  width:364px;
  height:24px;
  margin-top:4px;
  padding:.33rem;
}
.files-content input[type="text"]::placeholder {
  font-size: 16px;
  color:#757575;
}

.files-content input[type="submit"] {
  width:128px;
  color:#723EE0;
  border:1px solid #723EE0;
  height:36px;
  margin-top:2rem;
  font-size:16px;
}
.files-content input[type="submit"]:hover {
  background-color: #723EE0;
  color:white;
  cursor: pointer;
}
.files-content label {
  color:#757575;
  font-size: 14px;
  font-weight:400;
  margin-top:4rem;
}

.create-form div {
  margin-top:1rem;
}

.reader-controls, .reader-annotations {
  padding:2rem;
}

.reader-body{
  display:flex;
  width:100vw;
  padding:4rem 0;
  padding-bottom:0;
  height:100vh;
  box-sizing: border-box;
}

.reader-main{
  width:50%;
}
.reader-controls{
  position: sticky;
  align-self: flex-start;
  top:0;
}
.reader-control-wrap{
  padding:2rem 0;
}
.reader-highlight-box{
  width:64px;
  cursor:pointer;
  height:36px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:auto;
  margin-right:0;
}

.reader-controls, .reader-annotations{
  flex:1;
}
.reader-panel-close-box{
  width:100%;
  text-align: right;
  margin-bottom:1rem;
}
.reader-panel-close{
  color:#9E9E9E;
}


.reader-select {
  background-color:blue;
}

.reader-body p {
  line-height:2;
}
.reader-body h1 {
  font-family:'Helvetica'
}
.reader-prefs{ 
  margin:1rem 0;
  padding:1rem 1rem;
  border:1px solid #e0e0e0;
}
.reader-options-icon{
  float:right;
  width:36px;
  height:36px;
  margin-top:1rem;
}
.reader-options-icon:hover{
  opacity:.8;
}

.reader-colors-wrap *{
  z-index:0 !important;
  box-shadow: none !important;
}

.reader-prefs p{
  font-weight:500;
  margin-bottom:.75rem;
}

